// IMPORT
@import "variables";
@import "mixins";

// BACKGROUNDS
.bg {
	width: 100%;
	height: 100%;
}

.bgLight {
  background: $cream;
}

.bgDark {
  background: $grey;
}

.bgLightPink {
  background: $lightPink;
}

.bgDarkPink {
  background: $darkPink;
}

.bgLightGreen {
  background: $lightGreen;
}

.bgDarkGreen {
  background: $darkGreen;
}

.bgMethodBlack {
  background: #1a1a1a;
}