// IMPORT
@import "variables";
@import "mixins";

// CARDS
.cardDark {
	background-color: $methodBlack;
}

.cardLight {
	background-color: cream;
}

.cardDesigner {
	cursor: pointer;
	width: 100%;
	height: 350px;
}

// HEXAGON
.hexagonDesigner {
	width: 100px;
	height: 200px;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(120deg);
}

.hexagonDesigner--in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
}

.hexagonDesigner--in2 {
	width: 100%;
	height: 100%;
	visibility: visible;
	transform: rotate(-60deg);
	background: $methodBlack;
}

// MARIA PROJECT CARDS
.designerProject--Img {
	cursor: pointer;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

// MARIA
.paraStyle--DesignerProject {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3em;
}

.totalViews,
.totalAppreciations {
	display: flex;
	flex-direction: row;
	margin: 20px auto;
}

.totalFollowers {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

// MIKE DESINGER CARDS
.cardDesigner--Img {
	width: 100%;
	height: 60%;
}

.cardProject {
	width: 100%;
}

.paraStyle--DesignerName {
	margin-top: 50px;
}