// IMPORT
@import "variables";
@import "mixins";

// RESET
* {
	@include reset(0, 0, border-box, none, none);
	font-family: $font;
}

// BODY
body {
	position: relative;
	background: $grey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// MAIN TYPOGRAHPY
h1,
h2,
h3,
h4,
h5,
p {
	font-family: $font;
}

h1 {
	font-weight: $bold;
}

a:hover {
	text-decoration: none;
	color: $cream;
}

p {
	font-weight: $regular;
	margin: 0;
}

// TYPOGRAPHY MODIFICATIONS
.pSmall {
	font-size: 0.9em;
}

.caption {
	font-family: "Heebo", sans-serif;
	font-size: 0.7em;
	font-weight: $light;
}

// MAIN CONTAINER
.container-fluid {
	position: relative;
	max-width: 1200px;
	margin-top: 50px;
	margin-bottom: 50px;
}

// COL
.col {
	padding: 0;
}

// APP
#root {
	padding-bottom: 3rem;
}

// HEADER & FOOTER
#methodHeader {
	width: 100%;
	height: 3rem;
}

#methodFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	line-height: 48px;
}

// MIKES SCSS
#methodLogo {
	width: 50px;
	height: auto;
	margin-top: 12px;
}

#methodLoader,
#methodSearch {
	background: $methodBlack--trans;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 50;
}

.methodLoaderImg {
	height: 233px;
	left: 50%;
	margin-left: -100px;
	margin-top: -116.5px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.menu {
	width: 120px;
	height: 35px;
}

.menuDesigner,
.menuProjects,
.menuSearch,
.menuTheme {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	margin: 0px 10px;
}

.menuIconPink {
	fill: $lightPink;
}

.menuIconGreen {
	fill: $darkGreen;
}

// Marias

.methodSearchContainer {
	height: 233px;
	left: 50%;
	margin-left: -100px;
	margin-top: -116.5px;
	position: absolute;
	top: 20%;
	width: 200px;
}