// IMPORT
@import "variables";
@import "mixins";

// RESET
* {
	@include reset(0, 0, border-box, none, none);
	font-family: $font;
}

// BODY
body {
	position: relative;
	background: $grey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// MAIN TYPOGRAHPY
h1,
h2,
h3,
h4,
h5,
p,
a {
	font-family: $font;
}

h1 {
	font-weight: $bold;
	text-align: center;
	cursor: pointer;
}

p {
	font-weight: $regular;
}

// TYPOGRAPHY MODIFICATIONS
.pSmall {
	font-size: 0.9em;
}

.caption {
	font-family: "Heebo", sans-serif;
	font-size: 0.7em;
	font-weight: $light;
}

// MAIN CONTAINER
.container-fluid {
	position: relative;
	max-width: 1200px;
	margin-top: 100px;
	margin-bottom: 100px;
}

// COL
.col {
	padding: 0;
}

// APP
#root {
	padding-bottom: 3rem;
}

// HEADER & FOOTER
#methodHeader {
	width: 100%;
	height: 3rem;
}

#methodFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
}

// LOGO
#methodLogo {
	width: 30px;
	height: auto;
	margin: 6.825px auto;
}

// MENU
.button {
	width: 120px;
	height: 35px;
}

.buttonDesigner,
.buttonProjects,
.buttonSearch {
	color: $white;
}

// LOADER
#methodLoader {
	background: $methodBlack--trans;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 50;
}

.methodLoader--img {
	height: 233px;
	left: 50%;
	margin-left: -100px;
	margin-top: -116.5px;
	position: absolute;
	top: 50%;
	width: 200px;
}