// IMPORT
@import "variables";

// RESET
@mixin reset ($pad: null, $mar: null, $box: null, $deco: null, $listo: null) {
  padding: $pad;
  margin: $mar;
  box-sizing: $box;
  text-decoration: $deco;
  list-style-type: $listo;
}