// IMPORT
@import "variables";
@import "mixins";

// TEXT
.textLight {
  color: $cream;
}

.textDark {
  color: $grey;
}

.textLightPink {
  color: $lightPink;
}

.textDarkPink {
  color: $darkPink;
}

.textLightGreen {
  color: $lightGreen;
}

.textDarkGreen {
  color: $darkGreen;
}

// .paraStyle__designer--name{

// }

.paraStyle--DesignerProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // text-transform: uppercase;
}