// IMPORT
@import "variables";
@import "mixins";

// TEXT
.textLight {
	color: $cream;
}

.textDark {
	color: $grey;
}

.textLightPink {
	color: $lightPink;
}

.textDarkPink {
	color: $darkPink;
}

.textLightGreen {
	color: $lightGreen;
}

.textDarkGreen {
	color: $darkGreen;
}

.textBold {
	font-weight: $bold;
}

.textThin {
	font-weight: $light;
}

.textReg {
	font-weight: $regular;
}

.textMargin {
	margin-top: 7px;
	margin-bottom: 7px;
}
.textThin {
  font-weight: $light;
}
.textReg {
  font-weight: $regular;
}

// MIKES SCSS
.paraStyle--DesignerName {
	margin-top: 50px;
}

// METHOD TRANSITIONS
.methodLoad-appear {
  opacity: 0.01;
}

.methodLoad-appear.methodLoad-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.menuLoad-appear {
  opacity: 0.01;
}

.menuLoad-appear.menuLoad-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

// MARIAS SCSS
.paraStyle--DesignerProject {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3em;
}
