// IMPORT
@import "variables";
@import "mixins";

// TEXT
.textLight {
  color: $cream;
}

.textDark {
  color: $grey;
}

.textLightPink {
  color: $lightPink;
}

.textDarkPink {
  color: $darkPink;
}

.textLightGreen {
  color: $lightGreen;
}

.textDarkGreen {
  color: $darkGreen;
}

.textBold {
  font-weight: $bold;
}
.textThin {
  font-weight: $light;
}
.textReg {
  font-weight: $regular;
}

// MIKES SCSS
.paraStyle--DesignerName{
  margin-top: 50px;
}

// MARIAS SCSS
.paraStyle--DesignerProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	height: 3em;
}