// VARIABLES
$white: #fff;
$black: #000;

// MAIN COLOURS
$methodBlack: #1a1a1a;
$lightPink: #faabde;
$lightGreen: #82f5d1;
$darkGreen: #458f78;
$darkPink: #ff56e3;
$cream: #ded6c7;
$grey: #333333;

// SHADES
$grey-shade: #1d1f20;

// FONTS
$font: 'Heebo', sans-serif;
$light: 100;
$regular: 300;
$bold: 700;