
// IMPORT
@import "variables";
@import "mixins";

/* WRAPPERS */
.wrapper {
	margin: 10px;
}

.wrapperCol {
	padding: 15px;
}

.wrapperLogo {
	width: 30px;
	margin: 0 auto;
}

.wrapperCard {
	width: 100%;
	height: 100%;
	position: relative;
}

.wrapperProject--Details {
	height: 15%;
}

// MIKES SCSS
.wrapperHexagon {
	height: 200px;
	left: 50%;
	margin-top: -105px;
	margin-left: -50px;
	position: absolute;
	top: 60%;
	width: 100px;
	z-index: 5;
}

.wrapperMenu {
	height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrapperMenu svg {
	width: 17px;
	height: auto;
	margin-right: 5px;
}

.wrapperDesignerDetails {
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// DANIEL MODAL
.methodModal {
	top: 50%;
	left: 50%;
	width: 640px;
	height: 750px;
	margin-left: -320px;
	margin-top: -375px;
	position: absolute;
	
}
.methodModal__top{
	height: 65%;
	// background-color: #ccc;
	width: 100%;
}
.methodModal__top--image{
	height: 100%;
	width: 100%;
}
.methodModal__bottom{
	height: 35%;
	margin: 0px;
	// background-color: #666;
}
.methodModal__bottomLeft{
	height: 100%;
	// background-color: #ccc;
}
.methodModal__bottomLeft--likes{
	// background-color: #bbb;
	display: inline-flex
}
.methodModal__bottomLeft--views{
	// background-color: #bbb;
	display: inline-flex
}
.methodModal__bottomLeft--comments{
	// background-color: #bbb;
	display: inline-flex
}
.methodModal__bottomRight{
	height: 100%;
	// background-color: #aaa;
}

// DANIEL DESIGNER PROFILE
.designerBar{
	margin: 0px;
}
.imageBox{
	padding: 0px;
}
.designerBar__image{
	width: 100%;
	height: auto;
}
.designerBar__info{
	width: 100%;
	height: 100%;
}
.designerBar__info--user{
	margin-top: 7px;
}
.projectImageRow{
	margin-top: 15px;
}
.projectContainer{
	height: 300px
}
.projectImage{
	height: 100%;
	width: 100%;
	cursor: pointer;
}



